.container {
    background-color: var(--white);
    color: black;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;

}

.current {
    font-size: 6rem;
    font-weight: 700;
    margin: 0;
}

.temperatures {
    display: flex;
    justify-content: space-around;
}

.city {
    font-size: 4.5rem;
    color:mediumblue;
}